<div class="mainBody">

    <!-- #################  MAIN HEADER SECTION ################-->
    <div class="header col-md-11">
      <img [src]="headerImageLocation" class="center">
      <form (ngSubmit)="accountVerification()">
        <button class="btn btn-primary signIn" type="submit" value="Sign in">Sign In</button>
        <button class="btn btn-primary createAccount" type="submit" value="Create account">Create account</button>
        <div class="headerTitle">
          <h3 class="headerTitle">Connect on SoundCloud</h3>

          <p class="headerText">Discover, stream, and share a constantly expanding mix of music <br />
            from emerging and major artists around the world.
          </p>
        </div>
        <button class="btn btn-primary signUp" type="submit" value="Sign up for free">Sign up for free</button>
      </form>
    </div>

    <!-- #################  GRID BODY SECTION ################-->

    <div class="gridBody">

    </div>

    <div class="lowerBody">
    </div>

    <div class="footer">

    </div>
  </div>
